.form__floating__text {
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  right: -200px;
  white-space: nowrap;
  color: var(--primary);
}

.form__floating__sub-header {
  font-size: 1.875rem;
  font-family: "SharpSansNo1-Medium";
  font-style: italic;
}
.form__floating__header {
  font-size: 5rem;
  font-family: "Diodrum Arabic Medium";
}

.form__header__cont{
  background-image: url('/assets/images/menu1 1.png');
  background-size: cover;
  min-height: 550px;
}

@media (max-width: 1200px) {
  .form__floating__text {
    right: -170px;
  }
}
@media (max-width: 768px) {
  .form{
    padding: 40px;
  }
  .form__floating__text {
    right: -150px;
  }
}