.form {
  background-color: #ededed80;
  padding: 70px;
}

.form__text {
  color: var(--primary);
  max-width: 370px;
  font-size: 1.125rem;
  font-family: "SharpSansNo1-Medium";
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .form{
    padding: 40px;
  }
}